@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #e38528;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #bde9eb;
    padding-left: 30rem;
}

section {
    padding: 1rem 5%;
    min-height: 50vh;
}

.heading {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgb(253, 5, 5)(0, 255, 115);
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(250, 242, 242);
    background-color: rgba(59, 8, 29, 0.932);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #8da33e;
    box-shadow: 0px 25px 20px rgba(2, 36, 75, 0.938);
    color: #fff;
    transform: translateY(-7px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(97, 3, 3);
    color: #ddd;
    text-shadow: 0 0 3px #078d77fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
}

header .logo span {
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    color: var(--main-color);
}

header .navbar a {
    display: block;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: 2rem 0;
}

header .navbar a:hover {
    letter-spacing: .2rem;
    color: rgb(101, 245, 221);
    
}

header .follow a {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 .7rem;
}

header .follow a:hover {
    color: var(--main-color);
}

#menu-bars {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background: var(--main-color);
    color: rgb(228, 220, 220);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
}

.cursor-1.active {
    height: 7rem;
    width: 7rem;
    opacity: .3;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
}

.cursor-2.active {
    display: none;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .image {
    margin-top: 30px;
    flex:0 0 30%;
}
.home .container{
    flex:0 0 50%;
}
.home .image img {
    background-color: rgb(119, 207, 241);
    border: 5px solid #6d035a;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    height: 250px;
    float:left;
    margin-bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.home .content {
    font-family: sans-serif;
    font-size: 30px;
    color: rgba(12, 10, 10, 0);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 255, 234), 0 0 5px rgb(138, 138, 224);
}

.home .content .hi {
    font-size: 2rem;
    color: var(--main-color);
    margin-top: 1px;
}

.home .content h3 h2 {
    font-size: 3rem;
    margin: 0%;
    color: #111;
    text-transform: uppercase;
    color: palevioletred;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.home .content h3 span {
    color: var(--main-color);
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-transform: uppercase;
}

.home .content .info {
    font-size: 2.5rem;
    color: #111;
    padding: .5rem 0;
}

.home .content .details {
    font-size: 1.5rem;
    color: rgb(22, 21, 21);
    padding: .5rem;
}

.home .button {
    flex: 0 0 100%;
    background-color: green;
}

.about .row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

/* .about .row-1 .image {} */

.about .row-1 .image img {
    flex:1 1 50%;
    border: 1px solid #30022798;
    border-radius: 9px;
    padding: 5px;
    width: 140px;
    margin-bottom: 0%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.about .row-1 .aboutdetails {
    font-style: italic;
    flex: 1 1 50%;
    font-size: medium;
    border-radius: 15px;
    border: 4px solid #2b0222;
    padding: 2px;
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset
     rgba(44, 1, 1, 0.15) 0px -36px 30px 0px inset, 
     rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
     rgba(0, 0, 0, 0.06) 0px 2px 1px, 
     rgba(0, 0, 0, 0.09) 0px 4px 2px, 
     rgba(0, 0, 0, 0.09) 0px 8px 4px, 
     rgba(0, 0, 0, 0.09) 0px 16px 8px,
     rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.about .row-1 .content {
    flex: 1 1 50rem;
}

.about .row-1 .content h3 {
    color: #333;
    font-size: 3.5rem;
}

.about .row-1 .content p {
    color: #666; 
    font-size: 1.7rem;
    padding: .5rem 0;
}

.about .row-1 .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0.5rem;
}


.about .row-1 .image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    width: 150px;
    max-width: 50%;
    max-height: 20%;
}

.about .row-1 .image:hover {
    box-shadow: 0 0 4px 8px rgba(17, 2, 100, 0.726);
}

.about .row-1 .content .box-container .box {
    flex: 1 1 20rem;
    font: optional;
}

.about .row-1 .content .box-container .box span {
    color: black;
    font-weight: bold;
}
.about .row-1 .content .button{
    display: flex;
    max-width: 100%;
}
.about .row-1 .content .button .btn-1{
    float: left;
    margin-right: 20px;
}

.about .row-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row-2 .skills {
    flex: 1 1 40rem;
}

.about .row-2 .skills .progress {
    padding: 1rem 0;
}

.about .row-2 .skills .progress h3 {
    display: flex;
    justify-content: space-between;
    padding: .7rem 0;
    font-size: 1.7rem;
    color: #111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar {
    width: 100%;
    background: rgb(241, 210, 210);
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span {
    display: block;
    height: 100%;
    background: var(--main-color);
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span {
    width: 95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span {
    width: 80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span {
    width: 75%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span {
    width: 85%;
}

.about .row-2 .box-container {
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row-2 .box-container .box {
    flex: 1 1 15rem;
    background: #fff;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.about .row-2 .box-container .box h3 {
    color: var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p {
    color: #666;
    font-variant: small-caps;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.service .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service .box-container .box {
    flex: 1 1 30rem;
    font-variant: small-caps;
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.service .box-container .box i {
    height: 6rem;
    width: 6rem;
    gap: 1.5rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 50%;
}

.service .box-container .box h3 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: #444;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.service .box-container .box p {
    color: #666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.experience .box-container {
    display: flex;
    flex-wrap: wrap;
}
.experience .box-container .box {
    position: relative;
    flex: 1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.experience .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--main-color);
}

.experience .box-container .box .content {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    

}

.experience.box-container .box .content .ul {
    list-style: none;
}


.experience.box-container .box .content .ul li::before {
    content: "\2022";
    color: darkblue;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


.experience .box-container .box .content span {
    color: #fff;
    font-size: 1.7rem;
    background: var(--main-color);
    border-radius: 50rem;
    padding: .4rem 1rem;
}

.experience .box-container .box .content .list {
    list-style: none;


}

.experience .box-container .box .content .list {
    padding-bottom: 4rem;
    content: "\2022";
    color: blueviolet;
    font-family: Helvetica;
    font-weight: bold;
    font-size: medium;
    display: inline;
    width: 1em;
    margin-left: -1em;

}

.experience .box-container .box .content h3 {
    font-size: 2.5rem;
    padding: .5rem 0;
    color: #111;
}

.experience .box-container .box .content p {
    font-size: 1.5rem;
    color: #666;
}

.certification .box-container {
    display: flex;
    margin: none;
}

.certification .box-container .box {
    position: relative;
    flex: 1 0 33px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
    rgba(0, 0, 0, 0.06) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-left: .2rem solid var(--main-color);
    padding: 1.5rem;
    margin:none;
    
}

.certification .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--main-color);
}

.certification .box-container .box .content {
    background: rgb(241, 229, 229);
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin-bottom: 0%;

}

.certification .box-container .box .content span {
    color: #666;
    font-size: 1.7rem;
    background: var(--main-color);
    border-radius: 50rem;
    padding: .4rem 1rem;
}

.certification .box-container .box .content h3 {
    font-size: 2.5rem;
    padding: .5rem 0;
    color: #111;
}

.certification .box-container .box .content h2 {
    font-size: 1.5rem;
    color: #666;
}

/* course end*/
/* computer skills start */
.certification .box-container .box .content .list {
    list-style: none;


}

.certification .box-container .box .content .list {
    padding-bottom: 4rem;
    content: "\2022";
    color: rgb(235, 11, 96);
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    display: inline;
    width: 1em;
    margin-left: -1em;

}
/* computer skills end */


.portfolio .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box {
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff;
    border-radius: .5rem;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: 1;
}

.portfolio .box-container .box:hover img {
    height: 75%;
    width: 75%;
}

.portfolio .box-container .box h3 {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;
}

.portfolio .box-container .box .icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.portfolio .box-container .box .icons a {
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: .5rem;
    background: #eee;
    color: #333;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio .box-container .box .icons a:hover {
    background: var(--main-color);
    color: #fff;
}

.contact .icons-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 2rem;
}

.contact .icons-container .icons {
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: .5rem;
}

.contact .icons-container .icons i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3 {
    color: #111;
    font-size: 2rem;
    padding: .5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p {
    color: #666;
    font-size: 1.7rem;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.contact .row form {
    flex: 1 1 55rem;
    background: rgb(255, 255, 255);
    padding: 0 2rem;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
}

.contact .row .map {
    flex: 1 1 25rem;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea {
    width: 100%;
    border-bottom: .1rem solid #333;
    color: #333;
    text-transform: none;
    font-size: 1.7rem;
    padding: 1rem 0;
    margin: 1rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus {
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder {
    text-transform: capitalize;
}

.contact .row form textarea {
    height: 20rem;
    resize: none;
}

.contact .row form .btn {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.footer {
    margin-top: 2rem;
    font-size: 2rem;
    padding: 2.5rem;
    text-align: center;
    color: #666;
    background: #fff;
}

.footer span {
    color: var(--main-color);
}



/* media queries  */
@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    #menu-bars {
        display: initial;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
    }

    .cursor-1,
    .cursor-2 {
        display: none;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    header {
        width: 100%;
    }

    .experience .box-container .box {
        padding-right: 0;
    }

}

.logo .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 20px;
}

.logo .waviy span {
    font-family: 'Alfa Slab One', 'cursive';
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}


.home .content.wrapper {

    display: inline-flex;
}

.home .content.wrapper .static-txt {
    font-size: 60px;
    font-weight: 100;
}

.home .content.wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.home .content.dynamic-txts li {
    color: rgb(94, 28, 28);
    list-style: none;
    font-size: 60px;
    font-weight: Soo;
}

.home .content .wrapper.dynamic-txts li span {
    position: relative;
    top: 0;
    animation: slide 6s steps (4) infinite;
}

.home .content .wrapper .dynamic-txts li span::after {
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    content: "";
    border-left: 2px solid;
    animation: typing 1.5s steps (18) infinite;
}

@keyframes typing {

    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}


:root {
    --bg-color: #212e3a;
    --text-color: #f83bc9;
}

.container {
    min-width: 100px;
    height: 30px;
    flex:30% ;
    align-items: center;
    box-sizing: border-box;
    background: var(--bg-color);
    padding: 50px;
    position:relative;
}

.typewriter {
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.typewriter span {
    color: var(--text-color);
    text-transform: uppercase;
    padding: 10px;
    border-right: solid var(--text-color) 10px;
    animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
    from {
        border-color: var(--text-color);
      
    }

    to {
        border-color: transparent;
       
    }
}

@media (max-width: 16px) {
    .typewriter {
        font-size: 20px;
    }
}

@media (max-width: 18px) {
    .typewriter {
        font-size: 20px;
    }
}
@media (max-width: 473px){
    .home .container{
        flex:0 0 100%;
    }
}